* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    overflow-x: hidden;
}

.box {
    width: 100%;
    height: auto;
    background-color: #3B181E;
}

.banner1 {
    width: 100%;
    height: 100vh;
    background: url("imh/Mask Group.jpg") no-repeat;
    background-position: 60%;
    background-size: 110%;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 112px;
}


nav>ul>li>a,
nav>p {
    color: #fff;
}

nav>p {
    width: 155px;
    height: 22px;
    margin-top: 112px;
    font-family: "Forum";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 6%;
    line-height: 100%;
}

nav>img {
    width: 137px;
    height: 42px;
    margin-top: 5px;
    border: 1px;
}

nav>p:hover {
    cursor: pointer;
    color: grey;
}

nav>ul>li>a:hover {
    color: grey;
}

nav>img:hover {
    color: grey;
    cursor: pointer;
    opacity: 50%;
}

.asosiy {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.asosiy>h1 {
    width: 818px;
    height: 264px;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 9%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 189px;
}

.asosiy>button {
    width: 199px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
    border: 1px solid white;
    margin-top: 80px;
}

.asosiy>button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    opacity: 50%;
}

.icons {
    width: 25px;
    height: 171px;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

}

.icons>i {
    width: 25px;
    height: 25px;
    color: rgba(255, 255, 255, 1);

}

.icons>i:hover {
    cursor: pointer;
    color: gray;
}

.asosiy1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.asosiy1>img {
    width: 36px;
    height: 56px;
    margin-top: -140px;
    margin-left: 750px;
}

.asosiy1>img:hover {
    cursor: pointer;
    opacity: 50%;
}

.rotate-text {
    position: relative;
}

.rotate-text>span {
    display: inline-block;
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    top: -120px;
    left: 1380px;
    color: #fff;
}

.rotate-text>img {
    width: 15px;
    height: 20px;
    border: 1px;
    position: absolute;
    top: -40px;
    left: 1429px;
}

img {
    position: relative;
    top: 50px;
    width: 100%;
}

.banner2 {
    width: 100%;
    height: auto;
    background-color: rgba(59, 24, 30, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.banner2>.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner2>.text>p {
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.06em;
    line-height: 100%;
    color: white;
    text-align: center;
    margin-top: 227px;
}

.banner2>img {
    width: 1450px;
}

.banner2>.papka {
    width: 1520px;
    height: 900px;
    display: flex;
    gap: 40px;
}

.papka1 {
    width: 350px;
    height: 792px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.papka2 {
    width: 350px;
    height: 752px;
}

.papka3 {
    width: 350px;
    height: 540px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.papka4 {
    width: 350px;
    height: 540px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.papka4>img {
    width: 350px;
    height: 540px;
}

.banner3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 94px;
}

.banner3>.ong {
    width: 697px;
    height: 410px;
}

.banner3>.chap {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.banner3>.chap>h1 {
    width: 381px;
    height: 110px;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 9%;
    color: white;
}

.banner3>.chap>.chiziq {
    width: 85px;
    border: 2px solid white;
    margin-top: 31px;
}

.banner3>.chap>.salom {
    width: 397px;
    height: 62px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0%;
    color: white;
    margin-top: 25px;
}

.banner3>.chap>button {
    width: 220px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 31px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 15%;
}

.banner3>.chap>button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner4 {
    gap: 20px;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.banner4>.left>img {
    width: 855px;
    height: 1080px;
    object-fit: cover;
}

.banner4>.right {
    width: 900px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.banner4>.right>h1 {
    width: 500px;
    height: 110px;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 9%;
    color: white;
}

.banner4>.right>.slesh {
    width: 85px;
    border: 2px solid white;
    margin-top: 31px;
}

.banner4>.right>.text4 {
    width: 614px;
    height: 138px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 25px;
    color: white;
}

.banner4>.right>button {
    width: 145px;
    height: 50px;
    border: 1px solid white;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 15%;
    color: white;
    margin-top: 31px;
    background-color: rgba(0, 0, 0, 0.1);
}

.banner4>.right>button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.rasimlar {
    width: 552px;
    height: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rasimlar>img {
    width: 123px;
    height: 123px;
}

.banner5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.text5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner5>.text5>h1 {
    width: 300px;
    height: 33px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 6%;
    color: white;
    margin-top: 136px;
}

.banner5>.text5>span {
    width: 85px;
    border: 2px solid white;
    color: white;
    display: inline-block;
    margin-top: 22px;
    margin-left: -65px;
}

.rasimlar5 {
    display: flex;
    align-items: center;
    justify-content: start;
}

.car5 {
    width: 348px;
    height: 574px;
}
.car55{
    width: 420px;
    height: 694px;
}
.car555{
    width: 348px;
    height: 574px;
}

.rasimlar5>.car5>.soya0 {
    width: 348px;
    height: 219px;
    position: absolute;
    top: 0.1px
}

.rasimlar5>.car5>.papka555 {
    width: 273px;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
    top: 200px;
    text-align: center;
    position: absolute;
    margin-top: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.rasimlar5>.car5>button {
    margin-top: 50px;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 415px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    color: white;
}
.rasimlar5>.car5>button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.rasimlar5>.car5>.soya {
    position: absolute;
    top: 340px;
    margin-top: 24px;
}
.rasimlar5>.car5>.resm {
    width: 348px;
    height: 219px;
    position: absolute;
    top: 0.1px
}

.rasimlar5>.car5>.papka555 {
    width: 273px;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
    top: 200px;
    text-align: center;
    position: absolute;
    margin-top: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.rasimlar5>.car5>button {
    margin-top: 50px;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 415px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    color: white;
}
.rasimlar5>.car5>button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.rasimlar5>.car5>.resm0 {
    position: absolute;
    top: 340px;
    margin-top: 24px;
}
.text6 > h1{
    height: 33px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 6%;
    color: white;
}
.text6 > span{
    width: 96px;
    display: inline-block;
    border: 2px solid white;

}
.text6{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 22px;

}
.banner6{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rasimlar6{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.tepa6 > img{
    width: 370px;
    height: 122px;
}
.tepa6{
    display: flex;
    gap: 33px;
}
.orta6{
    display: flex;
    gap: 34px;
}
.orta6 > img{
    width: 571px;
    height: 190px;
}
.pas6{
    display: flex;
    gap: 34px;
}
.pas6 > img{
    width: 269px;
    height: 90px;
}
.the-end{
    width: 100%;
    height: 25vh;
}
.the-end > span{
    width: 1615px;
    border: 1.5px solid gray;
    display: flex;
    margin-left: 1.8%;
}
.the-end > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 21px;
    height: 15px;
}
.the-end > ul > li > a{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}
.the-end > ul > li > a:hover{
    color:  rgba(255, 255, 255, 0.8);
}
.icons6{
    display: flex;
    gap: 50px;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 750px;
    color: white;
}